{% extends "base_hit.html" %}
{%- from 'helpers.html' import persona_content with context %}

{% block title %}Rate Messages{% endblock %}

{% block js %}
  <script type="text/javascript" src="https://rawgit.com/wbotelhos/raty/master/lib/jquery.raty.js"></script>
  <script type="text/javascript">

    $("#submitButton").click(function(e) {
      e.preventDefault();

      for (i =0 ; i<25; i++){
        if ($("#message"+i+'_rating_Likely').val()===''){
          $("#message"+i+'_please').show();
          return ;
        }else{
          $("#message"+i+'_please').hide();
        }
      }

      onSubmitClick();
    });



  </script>
   {{ super() }}

{% endblock js%}

{% block content %}
<div id="start" class="well">
    <H3>Fix the grammar</H3>

    <p>For the given message,</p>

     <p style="text-align: center;"><span id="message_text" class="message">&quot;{{ requirements['text'] }}&quot;</span></p>
            <textarea class="form-control" cols="30" id="message_text" name="message_text" style="display:none">{{ requirements['text'] }}</textarea>   
             <textarea class="form-control" cols="30" id="message_id" name="message_id" style="display:none">{{ requirements['_id'] }}</textarea>   
             <textarea class="form-control" cols="30" id="message_shortname" name="message_shortname" style="display:none">{{ requirements['shortname'] }}</textarea>   
    <p>The message was rewritten such that it is grammatically correct and retains the original content of the message. </p>
    <p> Choose the best version from the following:</p>

    

    
    {% for mid in range(1,(requirements.fixed_messages|length) + 1) %}
    <div id="M{{ mid }}" class="message_containers">
            <p>
                <input type="radio" name='best_message_text' value="{{ requirements.fixed_messages[mid-1]['text'] }}">

            <span id="message{{ mid }}_text" class="message">&quot;{{ requirements.fixed_messages[mid-1]['text'] }}&quot;</span></p>  
             <textarea class="form-control" cols="30" id="message{{ mid }}_assignment_id" name="message{{ mid }}_assignment_id" style="display:none">{{ requirements.fixed_messages[mid-1]['assignment_id'] }}</textarea>   
            <p id='message{{ mid }}_please' class='bad' style="display:none">Please make sure, you have rated the message. </p>
    </div>
    {% endfor %}

    <!-- original message option -->
    {% set mid = (requirements.fixed_messages|length + 1) %}
    <div id="M{{ mid }}" class="message_containers">
            <p>
                <input type="radio" name='best_message_text' value="Original">

            <span id="message{{ mid }}_text"  class="message">&quot;{{ requirements['text'] }}&quot;</span></p>  
             <textarea class="form-control" cols="30" id="message{{ mid }}_assignment_id" name="message{{ mid }}_assignment_id" style="display:none">{{ requirements['_id'] }}</textarea>   
            <p id='message{{ mid }}_please' class='bad' style="display:none">Please make sure, you have rated the message. </p>
    <!-- None option -->
    {% set mid = (requirements.fixed_messages|length + 2) %}
    <div id="M{{ mid }}" class="message_containers">
            <p>
                <input type="radio" name='best_message_text' value="None">

            <span id="message{{ mid }}_text" class="bad">None of the messages are good enough</span></p>  
             <textarea class="form-control" cols="30" id="message{{ mid }}_assignment_id" name="message{{ mid }}_assignment_id" style="display:none">None</textarea>   
            <p id='message{{ mid }}_please' class='bad' style="display:none">Please make sure, you have rated the message. </p>
      <hr/>
    </div>

    <hr/>
    <p>Thanks for completing this task!</p>
 </div>

{% endblock %}





